$amarillo: rgb(227, 252, 0);
$negro: rgba(0, 0, 0, 0.911);
$celeste: rgba(0, 248, 248, 0.952);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    padding: 1rem;
}
.menu{
    list-style: none;
    margin: 10px;
    padding: 10px;
    background-color: $negro;
}
.menu li{
    display: inline-block;
    text-align: center;
    margin: 10px;
    background-color: $amarillo;
    padding: 20px;
}
.menu li a{
    text-decoration: none;
    margin: 5px;
    padding: 5px;
    background-color: white;
}
.menu li:hover{
    background-color: burlywood;
}
.menu li a:hover{
    background-color: $celeste;
}
.title{
    margin: 30px;
    padding: 30px;
    background-color: aqua;
    text-align: center;
    color: aliceblue;
}
body{
    background-color: $celeste;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/fondo6.jpg");
    margin: 10px;
}
img{
    margin: 5px 10px 10px 40px;  
 }
img:hover{
    transform: skew(20deg,10deg);
}
.banderas{
    width: 45px;
    height: 50px;
    margin: 10px;
    padding: 10px;
}
.fichaTecnica{
    width: 850px;
    height: 100px;
    margin: 5px;
    padding: 5px;
    font-family: 'Archivo Black', sans-serif;
    font-family: 'Cabin Condensed', sans-serif;
    background-color: yellow;
    color: black;
}
.premios{
    margin: 15px;
    padding: 15px;
    display: flex;
}
.intro{
      /*propiedades decorativas*/
      color:rgb(216, 36, 36);
      border: outset;
      text-align: center;
      font-family: 'Archivo Black', sans-serif;
      line-height: 2rem;
      /*tamaño de texto*/
      width: 400px;
      /*margen de separación del parrafo*/
      animation-duration: 10s;
      animation-name: aparecer;
      animation-iteration-count: infinite;
}
h2{
    font-family: 14px;
    color: green;
}
h3{
    font-family: 14px;
    color: violet;
}
.argentina{
    width: 300px;
    height: 400px;
    margin: 10px;
    padding: 10px;
    transition: height 2s;
}
.argentina:hover{
    height: 200px;
    transform: scale(2,1);
}
.entretenimiento{
    margin: 20px;
    padding: 20px;
    display: flex;
}
.campeones{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.musica{
    margin: 40px;
    padding: 20px;
}
.video{
    margin: 5px;
    padding: 5px;
}
.redes{
    margin: 5px;
    padding: 5px;
    display:flex;
    flex-direction: row-reverse;
}
@keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
 } 
@import "menu";
@media screen and (min-width: 768px){
    body {
        background-color: brown;
        background-image: url("../img/ARGENTINA.png");
        }
}
@media screen and (min-width: 1024px){
    body {
        background-color: $celeste;
        background-image: url("../img/fondo6.jpg");
        }
}
@media screen and (max-width:420px) {.header{
    flex-direction: column-reverse;
    }
}