<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sorteo Fernanditus con temática Mundial De Qatar 2022 donde se detallarán los premios y breves detalles del mundial de Qatar 2022">
    <meta name="keywords" content="Sorteo, Mundial, Fútbol, Qatar, 2022, Selecciones, Selección Argentina">
     <!-- CSS only -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
        </style>
    <link rel="stylesheet" href="../css/estilo.css">
    <link rel="shortcut icon" href="../img/fondo10.png" type="application/rss+xml" title="RSS">
    <title></Menu></title>
</head>
<body>
    <header>
        <h1 class="title">
          Sorteo Fernanditus/ Temática Mundial de Qatar 2022
        </h1>
        <nav>
              <ul class="menu" id="Presentación">
                <li><a href="../index.html">Home</a></li>
                <li><a href="./zonaDeGrupos.html">Zona de grupos</a></li>
                <li><a href="./formulario.html">Formulario de sorteo</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
              </ul>
        </nav>
    </header>
    <footer>
        <h4 class="final">
          <a href=#Presentación>Ir a la Presentación</a>
          <em>
           <a href="https://www.google.com/search?q=Noticias+sobre+el+mundial+de+Qatar+2022&rlz=1C1VDKB_esAR1000AR1000&biw=1366&bih=625&tbm=nws&sxsrf=ALiCzsY9sIqhjrIuKwskuE-QYqwakxqBLg%3A1661993431819&ei=1wEQY922MePL1sQPpcuo-AY&ved=0ahUKEwid_vyAsPL5AhXjpZUCHaUlCm8Q4dUDCA4&uact=5&oq=Noticias+sobre+el+mundial+de+Qatar+2022&gs_lcp=Cgxnd3Mtd2l6LW5ld3MQAzIFCAAQxAI6BQgAEIAEOgYIABAeEAg6BggAEB4QBzoECAAQDVDmC1i2MmCDN2gAcAB4AIABbYgBrAeSAQQxMC4xmAEAoAEBwAEB&sclient=gws-wiz-news" target="_blank">Noticias</a>
          </em>
          <em>
            <a href="https://hospitality.fifa.com/2022/es/the-stadiums/" target="_blank">Estadios</a>
          </em>
          <contenedor class="redes">
            <a href="https://www.instagram.com" target="_blank"><img src="../img/instagram.png" alt="instagram" width="20px"></a>
            <a href="https://www.facebook.com" target="_blank"><img src="../img/facebook.png" alt="facebook" width="20px"></a>
          </contenedor>
        </h4>
    </footer>
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>