<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- CSS only -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
        </style>
    <link rel="stylesheet" href="../css/estilo.css">
    <link rel="shortcut icon" href="./img/logo qatar.jfif" type="application/rss+xml" title="RSS">
    <title>Zona de grupos</title>
</head>
<body>
   <header>
    <h1>
        Mundial de Qatar 2022
    </h1>
    <nav>
      <nav class="navbar navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Mundial de Qatar 2022</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Busquedas rápidas</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="./index.html">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://github.com/ferrr1530/PreEntrega2Garcia">Proyectos Personales</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Intereses
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="#">Selecciones</a></li>
                    <li><a class="dropdown-item" href="#">Jugadores</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                  </ul>
                </li>
              </ul>
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-success" type="submit">Search</button>
              </form>
            </div>
          </div>
        </div>
      </nav>
        <ul class="menu" id="Presentación">
          <li><a href="../index.html">Home</a></li>
          <li><a href="./zonaDeGrupos.html">Zona de grupos</a></li>
          <li><a href="./formulario.html">Formulario de sorteo</a></li>
          <li><a href="./contacto.html">Contacto</a></li>
        </ul>
      </nav>
      <h2>
        FIXTURE MUNDIAL 2022🏆
      </h2>
   </header>
   <main class="conteiner">
   <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>GRUPO A</th>
        <th>GRUPO B</th>
        <th>GRUPO C</th>
        <th>GRUPO D</th>
        <th>GRUPO E</th>
        <th>GRUPO F</th>
        <th>GRUPO G</th>
        <th>GRUPO H</th>
      </tr>
      <tr>
        <td >Qatar <a href="https://www.fichajes.com/seleccion/qatar/plantilla/" target="_blank"> <img class="banderas" src="../img/QATAR.png" alt="QATAR"></a></td>
        <td>Inglaterra <a href="https://www.fichajes.com/seleccion/inglaterra/plantilla/" target="_blank"> <img class="banderas" src="../img/INGLATERRA.png" alt="INGLATERRA"></a></td>
        <td>Argentina <a href="https://www.fichajes.com/seleccion/argentina/plantilla/" target="_blank"> <img class="banderas" src="../img/ARGENTINA.png" alt="ARGENTINA"></a></td>
        <td>Francia <a href="https://www.fichajes.com/seleccion/francia/plantilla/" target="_blank"> <img class="banderas" src="../img/FRANCIA.png" alt="FRANCIA"></a></td>
        <td>España <a href="https://www.fichajes.com/seleccion/espa%C3%B1a/plantilla/" target="_blank"> <img class="banderas" src="../img/ESPAÑA.png" alt="ESPAÑA"></a></td>
        <td>Bélgica <a href="https://www.fichajes.com/seleccion/belgica/plantilla/" target="_blank"> <img class="banderas" src="../img/BELGICA.png" alt="BELGICA"></a></td>
        <td>Brasil <a href="https://www.fichajes.com/seleccion/brasil/plantilla/" target="_blank"><img class="banderas" src="../img/BRASIL.png" alt="BRASIL"></a></td>
        <td>Portugal <a href="https://www.fichajes.com/seleccion/portugal/plantilla/" target="_blank"><img class="banderas" src="../img/PORTUGAL.png" alt="PORTUGAL"></a></td>
      </tr>
      <tr>
        <td>Ecuador <a href="https://www.fichajes.com/seleccion/ecuador/plantilla/" target="_blank"><img class="banderas" src="../img/ECUADOR.png" alt="ECUADOR"></a></td>
        <td>Irán <a href="https://www.fichajes.com/seleccion/ri-de-iran/plantilla/" target="_blank"><img class="banderas" src="../img/IRAN.png" alt="IRAN"></td>
        <td>Arabia Saudí <a href="https://www.fichajes.com/seleccion/arabia-saudi/plantilla/" target="_blank"><img class="banderas" src="../img/ARABIA SAUDITA.png" alt="ARABIA SAUDITA"></a></td>
        <td>Dinamarca <a href="https://www.fichajes.com/seleccion/dinamarca/plantilla/" target="_blank"><img class="banderas" src="../img/DINAMARCA.png" alt="DINAMARCA"></a></td>
        <td>Alemania <a href="https://www.fichajes.com/seleccion/alemania/plantilla/" target="_blank"><img class="banderas" src="../img/ALEMANIA.png" alt="ALEMANIA"></a></td>
        <td>Canadá <a href="https://www.fichajes.com/seleccion/canada/plantilla/" target="_blank"><img class="banderas" src="../img/CANADA.png" alt="CANADA"></a></td>
        <td>Serbia <a href="https://www.fichajes.com/seleccion/serbia/plantilla/" target="_blank"><img class="banderas" src="../img/SERBIA.png" alt="SERBIA"></a></td>
        <td>Ghana <a href="https://www.fichajes.com/seleccion/ghana/plantilla/" target="_blank"><img class="banderas" src="../img/GHANA.png" alt="GHANA"></a></td>
      </tr>
      <tr>
        <td>Senegal <a href="https://www.fichajes.com/seleccion/senegal/plantilla/" target="_Blank"><img class="banderas" src="../img/SENEGAL.png" alt="SENEGAL"></a></td>
        <td>EEUU <a href="https://www.fichajes.com/seleccion/estados-unidos/plantilla/" target="_Blank"><img class="banderas" src="../img/EEUU.png" alt="EEUU"></a></td>
        <td>México <a href="https://www.fichajes.com/seleccion/mexico/plantilla/" target="_Blank"><img class="banderas" src="../img/MEXICO.png" alt="MEXICO"></a></td>
        <td>Túnez <a href="https://www.fichajes.com/seleccion/tunez/plantilla/" target="_Blank"><img class="banderas" src="../img/TUNEZ.png" alt="TUNEZ"></a></td>
        <td>Japón <a href="https://www.fichajes.com/seleccion/japon/plantilla/" target="_Blank"><img class="banderas" src="../img/JAPON.png" alt="JAPON"></a></td>
        <td>Marruecos <a href="https://www.fichajes.com/seleccion/marruecos/plantilla/" target="_Blank"><img class="banderas" src="../img/MARRUECOS.png" alt="MARRUECOS"></a></td>
        <td>Suiza <a href="https://www.fichajes.com/seleccion/suiza/plantilla/" target="_Blank"><img class="banderas" src="../img/SUIZA.png" alt=""></a></td>
        <td>Uruguay <a href="https://www.fichajes.com/seleccion/uruguay/plantilla/"target="_Blank"><img class="banderas" src="../img/URUGUAY.png" alt="URUGUAY"></a></td>
      </tr>
      <tr>
        <td>Países Bajos <a href="https://www.fichajes.com/seleccion/holanda/plantilla/" target="_blank"><img class="banderas" src="../img/PAISES BAJOS.png" alt="PAISES BAJOS"></a></td>
        <td>Gales <a href="https://www.fichajes.com/seleccion/gales/plantilla/" target="_blank"><img class="banderas" src="../img/GALES.png" alt="GALES"></a></td>
        <td>Polonia <a href="https://www.fichajes.com/seleccion/polonia/plantilla/" target="_blank"><img class="banderas" src="../img/POLONIA.png" alt="POLONIA"></a></td>
        <td>Australia <a href="https://www.fichajes.com/seleccion/australia/plantilla/" target="_blank"><img class="banderas" src="../img/AUSTRALIA.png" alt="AUSTRALIA"></a></td>
        <td>Costa Rica <a href="https://www.fichajes.com/seleccion/costa-rica/plantilla/" target="_blank"><img class="banderas" src="../img/COSTA RICA.png" alt="COSTA RICA"></a></td>
        <td>Croacia <a href="https://www.fichajes.com/seleccion/croacia/plantilla/" target="_blank"><img class="banderas" src="../img/CROACIA.png" alt="CROACIA"></a></td>
        <td>Camerún <a href="https://www.fichajes.com/seleccion/camerun/plantilla/" target="_blank"><img class="banderas" src="../img/CAMERUN.png" alt="CAMERUN"></a></td>
        <td>Corea Del Sur <a href="https://www.fichajes.com/seleccion/republica-de-corea/plantilla/" target="_blank"><img class="banderas" src="../img/COREA DEL SUR.png" alt="COREA DEL SUR"></a></td>
      </tr>
    </thead>
   </table>
   </main>
<footer>
    <h4 class="final">
      <em>
       <a href="https://www.google.com/search?q=Noticias+sobre+el+mundial+de+Qatar+2022&rlz=1C1VDKB_esAR1000AR1000&biw=1366&bih=625&tbm=nws&sxsrf=ALiCzsY9sIqhjrIuKwskuE-QYqwakxqBLg%3A1661993431819&ei=1wEQY922MePL1sQPpcuo-AY&ved=0ahUKEwid_vyAsPL5AhXjpZUCHaUlCm8Q4dUDCA4&uact=5&oq=Noticias+sobre+el+mundial+de+Qatar+2022&gs_lcp=Cgxnd3Mtd2l6LW5ld3MQAzIFCAAQxAI6BQgAEIAEOgYIABAeEAg6BggAEB4QBzoECAAQDVDmC1i2MmCDN2gAcAB4AIABbYgBrAeSAQQxMC4xmAEAoAEBwAEB&sclient=gws-wiz-news" target="_blank">Noticias</a>
      </em>
      <em>
        <a href="https://hospitality.fifa.com/2022/es/the-stadiums/" target="_blank">Estadios</a>
      </em>
      <contenedor class="redes">
        <a href="https://www.instagram.com" target="_blank"><img src="../img/instagram.png" alt="instagram" width="20px"></a>
        <a href="https://www.facebook.com" target="_blank"><img src="../img/facebook.png" alt="facebook" width="20px"></a>
      </contenedor>
    </h4>
</footer>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>